{% block body %}
<body background="static/2017.jpg">


	<div class="navigationBar">
		<center>
		<a href="PUP-San-Juan.php">Polytechnic University of the Philippines San Juan</a>
		</center>
	</div>
	<div class="navigationBar2">

				<a href="PUP-San-Juan.php"><img src="static/Logo.png" class="Logo"></a>



		<div class = "dropDown" style="margin-left: 5%;">
			<button class="Buttons ButtonsHover">Our Story</button>
			<div class = "dropDownContent">
				<a href="History.php">History</a>
				<a href="MissionVision.php">Mission Vision</a>
				<a href="PUPHymn.php">PUP Hymn</a>
				<a href="PUPLogo.php">PUP Logo</a>
			</div>
		</div>


		<div class = "dropDown" style="margin-left: 2%;">
			<button class="Buttons ButtonsHover">Admissions</button>
			<div class = "dropDownContent">
				<a href="AdmissionOverview.php">Admission Overview</a>
				<a href="GraduationRequirements.php">Graduation Requirements</a>
				<a href="TenureAndDismissal.php">Tenure And Dismissal</a>
				<a href="Programs.php">Programs Offered</a>
			</div>
		</div>

		<div class = "dropDown" style="float: right; margin-right: 5%;">
			<button class="Buttons ButtonsHover">Articles</button>
			<div class = "dropDownContent">
				<a href="ViewAllNews.php">News</a>
				<a href="ViewAllEvents.php">Calendar & Events</a>
				<a href="ViewAllAnnouncements.php">Announcements</a>
				<a href="https://drive.google.com/file/d/0B1BuDAuN0r8SbmFEU1RJUDFYU1E/view">Citizen's Charter</a>
			</div>
		</div>

		<div class = "dropDown" style="float: right; margin-right: 2%">
			<button class="Buttons ButtonsHover">Students</button>
			<div class = "dropDownContent">
				<a href="https://www.pup.edu.ph/studentservices/">Student Services</a>
				<a href="Organizations.php">Organizations</a>
				<a href="https://drive.google.com/file/d/0B1BuDAuN0r8SX1BWX2NSN3FURzg/view">Student Handbook</a>
				<a href="StudentCouncil.php">Student Council</a>
			</div>
		</div>

	</div>

	<div class="navigationBar3">
		<button class="Buttons1 ButtonsHover1"  style="margin-left: 5%; float: left;">Services</button>
		<a href="https://www.pup.edu.ph/academic/undergrad.aspx"><button class="Buttons1 ButtonsHover1" style="margin-left: 2%;">All Programs</button></a>
		<a href="https://www.pup.edu.ph/alumni/"><button class="Buttons1 ButtonsHover1" style="margin-right: 5%; float: right;">Alumni</button></a>
		<a href="Faculty.php"><button class="Buttons1 ButtonsHover1" style="margin-right: 2%; float: right;">Faculty</button></a>

	</div>
{% endblock %}
