{% extends 'layout.html' %}

{% block body %}
  <div class="row">
    <div class="col-3 content-section">
      <a href="" class="btn btn-md btn-outline-info col-12"><span><strong>Home</strong></span></a>
    </div>
    <div class="col-9">
    <h1>About Us</h1>
    <div class="content-section">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab optio, reprehenderit distinctio quae velit nobis cupiditate repellat excepturi quasi ut laudantium eius laboriosam id accusantium voluptatem officiis, consequatur possimus nemo sed obcaecati cum vitae porro. Soluta ipsum eaque provident beatae praesentium sit quasi eius minima quo odit iste, at harum, enim quibusdam, iusto. Distinctio laboriosam deleniti asperiores similique ratione placeat molestias autem repellat, nostrum facere tempora, adipisci veritatis commodi maiores ad ipsum inventore nisi ducimus sit itaque aperiam labore eveniet, accusamus. Beatae accusantium commodi, vero similique neque voluptate rem reprehenderit. Sit quos consequuntur repellendus, at dolor commodi explicabo velit dolorum?</p>
    </div>

    <div class="content-section">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab optio, reprehenderit distinctio quae velit nobis cupiditate repellat excepturi quasi ut laudantium eius laboriosam id accusantium voluptatem officiis, consequatur possimus nemo sed obcaecati cum vitae porro. Soluta ipsum eaque provident beatae praesentium sit quasi eius minima quo odit iste, at harum, enim quibusdam, iusto. Distinctio laboriosam deleniti asperiores similique ratione placeat molestias autem repellat, nostrum facere tempora, adipisci veritatis commodi maiores ad ipsum inventore nisi ducimus sit itaque aperiam labore eveniet, accusamus. Beatae accusantium commodi, vero similique neque voluptate rem reprehenderit. Sit quos consequuntur repellendus, at dolor commodi explicabo velit dolorum?</p>
    </div><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab optio, reprehenderit distinctio quae velit nobis cupiditate repellat excepturi quasi ut laudantium eius laboriosam id accusantium voluptatem officiis, consequatur possimus nemo sed obcaecati cum vitae porro. Soluta ipsum eaque provident beatae praesentium sit quasi eius minima quo odit iste, at harum, enim quibusdam, iusto. Distinctio laboriosam deleniti asperiores similique ratione placeat molestias autem repellat, nostrum
    facere tempora, adipisci veritatis commodi maiores ad ipsum inventore nisi ducimus sit itaque aperiam labore eveniet, accusamus. Beatae accusantium commodi, vero similique neque voluptate rem reprehenderit. Sit quos consequuntur repellendus, at dolor commodi explicabo velit dolorum?</p>
  </div>
  </div>

{% endblock %}
