{% extends 'layout.html' %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="jumbotron col-lg-3" style="background-color:maroon">
      <h1 class="h2"style="color: white">Menu <div style="width: 220px; height: 2px; background-color: white; margin: 6px 0;"></div></h1>
      <div>
       <a href="/admin" style="color: white;"> Home</a>
      </div>
      <div>
       <a href="#" style="color: white;">Reservation</a>
      </div>
      <div>
       <a href="/admin/facility" style="color: white;">Facilities</a>
      </div>
      <div>
       <a href="/admin/equipment" style="color: white;">Equipments</a>
      </div>
      <div>
       <a href="/admin/dev" style="color: white;">Developer</a>
      </div>
      <div>
       <a href="/about" style="color: white;">About</a>
      </div>
    </div>
    <div class="jumbotron col-lg-9">
      <div class="container">
       <div class="page-header">
          <h1>About Us</h1>
          <div>
          <p>This is a capstone project of BSIT 4-1 where they built a web application to help students have a better time reserving equipments or facilities in pup san juan.</p>
        </div>
        </div>
       </div>
      </div>
</div>
</div>
  <br><br><br>
  {% endblock %}
