{% extends 'layout.html' %}

{% block body %}
    <h1>Add Reservation</h1>
    {% from "includes/_formhelpers.html" import render_field %}
    <form method="POST">
        {% for equi in equip %}
        <div class="form-group">
            {{ form.hidden_tag()}}
            {{ form.checkbox() }} {{equi}}
        </div>
        {% endfor %}
        {% for fa in fac %}
        <div class="form-group">
            {{ form.hidden_tag()}}
            {{ form.checkbox() }} {{fa}}
        </div>
        {% endfor %}
        <div class="form-group">
            {{ render_field(form.reservationDate, class_= "form-control") }}
        </div>
        <div class="form-group">
            {{ render_field(form.reservationDateEnd, class_= "form-control") }}
        </div>
        <p><input type="submit" class="btn btn-primary" value="Submit"></p>
    </form>
{% endblock %}