{% extends 'layout.html' %}

{% block body %}

    <div class="jumbotron ">
      <div class="container">
       <div class="page-header">
          <h1>Developers</h1>
          <div>
          <h4>Timothy </h4>
          <p>title</p>
        </div>
        <div>
          <h4>Carl Keneth Baseleres</h4>
          <p>title</p>
        </div>
        <div>
          <h4>Lawrence Angelo Noriesta</h4>
          <p>title</p>
        </div>
       </div>
      </div>
</div>
</div>
  <br><br>
  {% endblock %}
