<!doctype html>

{% extends 'layout.html' %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="jumbotron col-lg-4" style="background-color:maroon">
      <h1 class="h2"style="color: white">Menu <div style="width: 310px; height: 2px; background-color: white; margin: 6px 0;"></div></h1>
      <div>
       <a href="/admin" style="color: white;"> Home</a>
      </div>
      <div>
       <a href="#" style="color: white;">Reservation</a>
      </div>
      <div>
       <a href="/admin/facility" style="color: white;">Facilities</a>
      </div>
      <div>
       <a href="/admin/equipment" style="color: white;">Equipments</a>
      </div>
      <div>
       <a href="/admin/dev" style="color: white;">Developer</a>
      </div>
      <div>
       <a href="/about" style="color: white;">About</a>
      </div>
    </div>
    <div class="jumbotron col-lg-8">
      <div class="container">
       <div class="page-header">
          <h1>Developers</h1>
          <div>
          <h4>Timothy </h4>
          <p>title</p>
        </div>
        <div>
          <h4>Carl Keneth Baseleres</h4>
          <p>title</p>
        </div>
        <div>
          <h4>Lawrence Angelo Noriesta</h4>
          <p>title</p>
        </div>
       </div>
      </div>
</div>
</div>
  <br><br><br>
  {% endblock %}
