{% extends 'layout.html' %} {% block body %}
<div class="jumbotron text-center mt-2 shadow">
  <div class="container">
    <h1 class="display-3">Welcome</h1>
    <p>This is the Online Reservation System for Equipment and Facilities of PUP San Juan.</p>
    <p>
      {% if session.logged_in == NULL %}
      <a class="btn btn-primary btn-lg" href="/register">Sign Up</a>
      <a class="btn btn-success btn-lg" href="/login">Login</a> {% else %}
      <a class="btn btn-primary btn-lg" href="/newres">Make Reservation</a>
      <a class="btn btn-success btn-lg" href="/logout">Logout</a> {% endif %}
    </p>
  </div>
</div>
<div class="embed-responsive embed-responsive-16by9 mb-2 shadow">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/37Clm7Z-fc8" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>
{% endblock %}
